@import "/global.css";
@import "/components/buttons.css";
@import "/components/card.css";
@import "/components/header.css";
@import "/components/backgroundimage.css";
@import "/components/footer.css";
@import "profil_card.css";


main {
  margin-top: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

