.bookmarkButton {
  position: absolute;
  border: none;
  background: none;
  top: .5rem;
  right: 1rem;
 }

.bookmark {
    position: relative ;
    width:2.5rem; 
    height:auto; 
    background: none;
    cursor: pointer;
    }

  .bookmark--active {
    fill:  rgb(255, 0, 0);
    transition: 1s, ease-in-out, 1s;
   }

  .answerButton {

    font-size: 1.5rem;
    background-color: var(--background-color);
    border: none;
    color: rgb(4, 251, 70);
    cursor: pointer;
    text-decoration: underline;
    transition: 0.25s ease-in-out;
    border-radius: 5px;
  }

  .answerButton:hover {
    transform: scale(102%);
    color: red;
  }

  

  
  
  