.bookmarkButton {
  position: absolute;
  border: none;
  background: none;
  top: 0.5rem;
  right: 1rem;
}

.bookmark {
  position: relative;
  width: 2.5rem;
  height: auto;
  background: none;
  cursor: pointer;
}

.bookmark--active {
  fill: rgb(255, 0, 0);
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.newQ {
  height: 3rem;
  font-size: 2rem;
  background: linear-gradient(145deg, rgba(125, 174, 144, 1), rgb(68, 114, 86)) ;
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  margin-bottom: 15vh;
  color: rgb(61, 27, 27);
  cursor: pointer;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.newQ:hover {
  cursor: pointer;
}

.newQ:active {
  transform: scale(0.9);
  transition: 1s, ease;
}
