
.card {
    position: relative;
    box-shadow: var(--box-shadow);
    width: 80vw;
    max-width: 600px;
    height: auto;
    min-height: 50vh;
    border-radius: 5px;
    background-color: var(--second-background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10% 0%;
    opacity: 0.95;
  }
  
  .card p {
    width: 80%;
  }