.card {  
  margin: 100px auto 0;
  width: 400px;
  height: 400px;
  perspective: 1000px;
}

.cardInner {
  width: 100%;
  height: 100%;
  transition:  0.5s ease ;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  background-color: rgba(125, 174, 144, 1);
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  text-align: center;
  margin-bottom: 10rem;
}

.cardInner.is-flipped {
  transform: rotateY(180deg);

}

.cardInner.is-flipped p {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
}

.cardFace--front {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(125, 174, 144, 1);

}


.cardFace--back {
}




  .cardList {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0.5rem;
    margin: 0rem 1rem 0rem 0rem;
    font-size: 1.2rem;
  }

  ul {
    list-style: none;
    position: absolute;
  }
  
  li {
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    color: white;
    background-color: var(--background-color);
    transition: 0.25s ease-in-out;
  }