.bookmark-button {
  position: absolute;
  border: none;
  background: none;
  top: 0.5rem;
  right: 1rem;
}

.bookmark {
  position: relative;
  width: 2.5rem;
  height: auto;
  background: none;
  cursor: pointer;
  transition: 1s, ease, 1s;
}

.bookmark--active {
  fill: rgb(255, 0, 0);
  animation: 600ms pulsate;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
